/AUTHORS
/cmake
/CMakeLists.txt
/CONTRIBUTING.md
/doc
/INSTALL.md
/LICENSE
/misc
/NEWS
/README.md
/src
/.travis.yml

debian/*.log
debian/*.debhelper
debian/*.substvars
debian/drmips
debian/files
obj-x86_64-linux-gnu
/.pc
